.page-title{
    text-align: center;
}

.qafunction-info{
    text-align: center;
}

.comment-group-title{
    margin-top: 20px;


}

.form-container{
    width: 500px;
    margin-top: 10px;
    text-align: right;

}
