{% extends "base.html" %}

{% block title %}安安的小屋-留言 {% endblock %}

{% block head %}

{% endblock %}

{% block body %}

<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">文章</a>
  </div>
</nav>
    <div class="card mt-5">
  <img src="/static/img/article.png" height="600" width="600" class="card-img-top" alt="图图不见了">
  <div class="card-body">
    <h5 class="card-title">python是怎样炼成的</h5>
    <p class="card-text"> 我们这一节课呢，就来学习一下python的知识点哦，请问python是怎样炼成的呢</p>
    <a href="#" class="btn btn-primary">查看详情</a>
  </div>
</div>
    <div class="card mt-5">
  <img src="/static/img/article.png" height="600" width="600" class="card-img-top" alt="图图不见了">
  <div class="card-body">
    <h5 class="card-title">python是怎样炼成的</h5>
    <p class="card-text"> 我们这一节课呢，就来学习一下python的知识点哦，请问python是怎样炼成的呢</p>
    <a href="#" class="btn btn-primary">查看详情</a>
  </div>
</div>
    <div class="card mt-5">
  <img src="/static/img/article.png" height="600" width="600" class="card-img-top" alt="图图不见了">
  <div class="card-body">
    <h5 class="card-title">python是怎样炼成的</h5>
    <p class="card-text"> 我们这一节课呢，就来学习一下python的知识点哦，请问python是怎样炼成的呢</p>
    <a href="#" class="btn btn-primary">查看详情</a>
  </div>
</div>
    <div class="card mt-5">
  <img src="/static/img/article.png" height="600" width="600" class="card-img-top" alt="图图不见了">
  <div class="card-body">
    <h5 class="card-title">python是怎样炼成的</h5>
    <p class="card-text"> 我们这一节课呢，就来学习一下python的知识点哦，请问python是怎样炼成的呢</p>
    <a href="#" class="btn btn-primary">查看详情</a>
  </div>
</div>


{#<div class="card" aria-hidden="true">#}
{#  <img src="..." class="card-img-top" alt="...">#}
{#  <div class="card-body">#}
{#    <h5 class="card-title placeholder-glow">#}
{#      <span class="placeholder col-6"></span>#}
{#    </h5>#}
{#    <p class="card-text placeholder-glow">#}
{#      <span class="placeholder col-7"></span>#}
{#      <span class="placeholder col-4"></span>#}
{#      <span class="placeholder col-4"></span>#}
{#      <span class="placeholder col-6"></span>#}
{#      <span class="placeholder col-8"></span>#}
{#    </p>#}
{#    <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>#}
{#  </div>#}
{#</div>#}
{% endblock %}



